@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


.wrapper {
  background: #f1f1f1;
  width: 100vw;
  margin: 0;
  text-align: center;
  color:dark;
}
.white{
  color:white;
}
.black{
  color:black;
}
.dark{
  color:black;
}
.wrapper .img {
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}
.wrapper .img i {
  font-size: 25px;
}
.wrapper .product {
  padding: 30px;
}
.wrapper .product h3 {
  font-weight: 500;
}
.wrapper p {
  font-size: 15px;
  margin-top: 20px;
  color: grey;
}
hr {
  border: none;
  height: 0px;
  box-shadow: 0 1px 4px 1px cornflowerblue;
  margin-bottom: 0;
}

.wrapper-head{
  font-family: 'Barlow Semi Condensed', sans-serif;
}


@media only screen and (max-width:500px) {
  .wrap-cont{
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .grid2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
  }

  .product{
    width: 90vw;
  }
}



