.box-pdt{
    margin-left: 15%;
}


.flash-dark{
    background: black;
    color:white;
}

.flash-dark2{
    background: rgb(160, 157, 157);
    color:white;
}



.row-box{
    width:90%;
}

.card-body{
    background-color: rgb(189, 203, 244);
    height:120px;
}



.cards:hover{
    background-color: rgb(209, 206, 206);
    transition: 0.7;
}

.box2-pdt{
    height: 400px;
    width: 28%;
    background-color: rgb(255, 255, 255);
    
}

.box2-pdt:hover{
    transform: scale(1.05);
    transition: ease-in 0.5s;
    
}

.name{
    font-size: 14px;
}

.price{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
}

.box2:hover{
    opacity:0.8;
    scale: 1.05;
    
}

.btn-text{
    background-color: rgb(37, 55, 251);
    padding: 2.5%;
    border-radius: 10px;
    color: white;

}

.filter-section{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}